extends layout

block content
  h1= title

  -let items = results

  .container-fluid
    .row-m-1
      for result, index in results
        - let destination = `dispatch("/fruits/update?id=${result._id}")`
        .col-sm-2(onclick=`buy(${index})`)
          p #{result.name}
          p #{result.color}
          p Quantity: #{result.quantity}
        button.btn(class="btn-primary ml-1", onclick= destination) Update

  script.
    function buy(index) {
      alert(`You purchased item ${index + 1}`);
    }
    function dispatch(path) {
      window.location.href = path;
    }
