extends layout

block content
  h1= title
 
  if (toShow == null)
    .alert.alert-warning No instance to delete
  else
    - let fruitid = toShow._id
    - let name = toShow.name
    - let color = toShow.color
    - let quantity = toShow.quantity
    - let actionid = "/resource/fruits/" + fruitid
    script let actionid = "#{actionid}"
    
    .container
      .row.mb-3
        .col-md-2.fruitsAttr.font-weight-bold fruit ID is:
        .col-md-10 #{fruitid}
      .row.mb-3
        .col-md-2.fruitsAttr.font-weight-bold fruit name is:
        .col-md-10 #{name}
      .row.mb-3
        .col-md-2.fruitsAttr.font-weight-bold fruit color is:
        .col-md-10 #{color}
      .row.mb-3
        .col-md-2.fruitsAttr.font-weight-bold fruit quantity is:
        .col-md-10 #{quantity}
      .row
        .col-md-12
          button.btn.btn-danger(onclick="deleteOnid()") Delete
          button.btn.btn-secondary(onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the fruit collection
      window.location.href='/fruits'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Dont need a body for the delete
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeeded")
        window.location.href='/fruits'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error)
      });
    }
